*{
  padding: 0;
  margin: 0;
}
a:link {
  text-decoration: none;
}
.carrosel{
  overflow-x: hidden;
}
#container img {
  width: 100px;
  border-radius: 40px;
  margin: auto;
}
#container_main{
  display: flex;
}
.container_main3{
  align-items: center;
  background: #1F3BC0;
  margin: 100px;
  padding: 100px;
  border-radius: 30px;
  box-shadow: 3px 3px 1em #111f63;
  color: white;
}
#container h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.hero.is-success {
  background: #f2f7fa;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}

#main_principal{
  background: #fff;
  margin: 0;
}
.center {
  text-align: center;
}




.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}









/* vendedor */
#vendedor{
  background: black;
  /* background-image: url('/img/vendedor1.png'); */
}
#vendedor h2 a{
  color: black;
}
.topo_vendedor{
  text-align: center;
}




/* gerente */
#gerente{
  /* background-image: url('/img/gerente2.png'); */
  background: black; 
  width: 100%;
}
.topo_gerente {
  text-align: center;
}
#gerente h2 a{
  color: #fff;
}
.container {
  width: 100%;
}
.card_block{
  display: flex;
  justify-content: center;
  align-items:center;
  justify-content: space-between;
  height: 87%;
}
.card_block img {
  width: 20rem;
}
.card_block h5 {
  color: white;
}
.card_block .card{
  margin: 60px;
  color: black;
  border: none;
}
.card a{
  text-decoration: none;
}
